<div class="page pt-2">
    <div class="container w-50 mt-2 p-3 bg-white border rounded">
        <div class="row">
            <div class="col-4">
                <p class="fw-bold text-center">Bienvenue sur votre gestionnaire de To-do list</p>
            </div>
            <div class="row">
                <div class="col-3 d-grid">
                    <a class="btn btn-info" role="button" routerLink="/todos">Accéder à ma liste</a>
                </div>
            </div>
        </div>
    </div>