<div class="page pt-2">
    <div *ngIf="loading$ | async" class="text-center">
        <div class="spinner-border text-primary">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <ng-container *ngIf="(todo$ | async) as todo">
        <app-single-todo-card [todo]="todo"></app-single-todo-card>
    </ng-container>
    <div *ngIf="error$ | async as error" class="alert alert-danger" role="alert">
        <div class="text-center">{{error.message}}</div>
    </div>
    <div *ngIf="!(loading$ | async)" class="d-grid col-8 col-md-4 mx-auto m-2">
        <button class="btn btn-info" type="button" routerLink="/todos">Retour à la liste</button>
    </div>
</div>